.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }

  a{
      text-decoration: none;
  }


  .navbar-nav .nav-link {
    color: white;
  }

  body {
    background-color: black;
  }

  .mat-sidenav-container {
    background-color: rgb(36, 36, 43) !important;
  }
  